# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv

# Database
*.db
*.db-journal

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/
node_modules
client/node_modules
dist
client/dist
